:root {
    --color-de-fondo: #F1EAFF;
    --color-de-fondo-menu: #ffffff;
    --color-de-fondo-seccion: #E5D4FF;
    --color-de-link: #000000;
    --color-de-texto: #464646;
    --color-primario: #bf83f4;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    color: var(--color-de-texto);
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.cabecera__contenedor {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cabecera__logo {
    max-width: 80px;
}

.cabecera__titulo {
    font-size: 1rem;
    text-align: center;
}

.navegacion__lista {
    padding: 0;
}

.navegacion__lista li:nth-child(-n+5) {
    display: none;
}

.navegacion__elemento a {
    color: var(--color-de-texto);
    font-size: 0.9rem;
}

/* ------------------------------ Sección Presentación ------------------------------*/


.presentacion {
    padding: 16px;

}

.presentacion__foto {
    width: 27%;
    border-radius: 50%;
    border: 5px solid var(--color-primario);
}

.presentacion__titulo {
    font-size: 1.375rem;
    font-weight: bold;
}

.presentacion__subtitulo {
    font-size: 0.9rem;
}

.redes {
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.redes li {
    flex-grow: 1;
}

.redes li a {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-de-texto);
}

/* ------------------------------ Sección sobre mí ----------------------------------*/

.sobre-mi {
    background-color: var(--color-de-fondo-seccion);
    padding: 16px;
}

.sobre-mi__titulo {
    margin: 0;
    font-size: 1.375rem;
    font-weight: bold;
}

.sobre-mi__texto {
    font-size: 0.9rem;
}

/*------------------------------ Sección de Habilidades y Aficiones ------------------------------*/


.habilidades__titulo,
.aficiones__titulo {
    font-size: 1.375rem;
    font-weight: bold;
}


.habilidades,
.aficiones {
    padding: 16px;
}

.habilidades__lista,
.aficiones__lista {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.habilidades__elemento,
.aficiones__elemento {
    width: 156px;
    flex-grow: 1;
    padding: 16px;
    background-color: var(--color-de-fondo-menu);
}

.habilidades__titulo,
.aficiones__titulo {
    text-align: center;
}

.habilidades__icono,
.aficiones__icono {
    margin: 38px 0 8px 0;
}

.habilidades__nombre,
.aficiones__nombre {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}


/*------------------------------ Sección de Formación academica -------------------------------*/

.formacion {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    background-color: var(--color-de-fondo-seccion);
}

.formacion__lista {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.formacion__elemento {
    display: flex;

    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
}

.formacion__icono-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 118px;
    border-radius: 10px;
    border-top: 3px solid var(--color-primario);
    border-bottom: 3px solid var(--color-primario);
    background-color: white;
}

.formacion__icono {
    width: 80px;
}

.formacion__titulo {
    margin: 0;
    font-size: 1.375rem;
    font-weight: bold;
    text-align: center;
}

.formacion__nombre {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.formacion__detalle {
    font-size: 0.9rem;
    margin: 0;
}


/*------------------------------ Sección de Proyectos --------------------------------*/

.proyectos {
    padding: 32px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.proyectos__wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.proyectos__imagen {
    width: 100%;
    border-radius: 10px;
    border-top: 5px solid var(--color-primario);
    border-bottom: 5px solid var(--color-primario);
}

.proyectos__titulo {
    font-size: 1.375rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.proyectos__botones-contenedor {
    display: flex;
    gap: 16px;
}

.proyectos__boton-repositorio {
    display: block;
    padding: 12px 16px;
    border: 1px solid var(--color-primario);
    color: var(--color-primario);
    font-size: 0.9rem;
    font-weight: 600;
}

.proyectos__boton-demo {
    display: block;
    padding: 12px 16px;
    background-color: var(--color-primario);
    color: white;
    font-size: 0.9rem;
}

/*------------------------------ Sección de Contacto ---------------------------------*/

.contacto {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    background-color: var(--color-de-fondo-seccion);
}

.contacto__contenedor {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contacto__imagen {
    display: none;
}

.contacto__titulo {
    font-size: 1.375rem;
    font-weight: bold;
    margin: 0;
}

.contacto__texto {
    font-size: 1rem;
    margin: 0;
}

.contacto__contenedor-formulario {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contacto__campo {
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 16px 0 16px 12px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    border-bottom: 1px solid #C8C8C8;
    outline: none;
    border-radius: 5px;
}

.contacto__campo:focus {
    border-bottom: 2px solid var(--color-primario);
}

.contacto__campo::placeholder {
    color: #A2A2A2;
    font-family: 'Raleway', sans-serif;
}

.contacto__aviso {
    font-size: 0.8rem;
    margin: 0;
    color: #e20000;
}

.contacto__aviso-envio {
    font-size: 0.8rem;
    margin: 0;
    color: #00c200;
}

.contacto__campo--textarea {
    resize: none;
}

.contacto__boton {
    padding: 16px 32px;
    background-color: var(--color-primario);
    color: white;
    border: none;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    width: 180px;
}

.contacto__boton:disabled {
    background-color: #C8C8C8;
    cursor: not-allowed;
}

.footer {
    background-color: var(--color-de-fondo-menu);
    padding: 32px;
    text-align: center;
}

.footer__texto {
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    .cabecera {
        padding-right: 32px;
        padding-left: 32px;
    }

    .cabecera__logo {
        max-width: 100px;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }


    .sobre-mi,
    .presentacion,
    .habilidades,
    .aficiones,
    .formacion,
    .proyectos {
        padding: 32px;
    }

    .presentacion {
        gap: 32px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .presentacion__titulo {
        margin: 0;
    }

    .formacion__lista {
        flex-wrap: nowrap;
    }

    .formacion__elemento {
        width: 224px;
        height: 224px;
    }

    .formacion__icono-contenedor {
        width: 100%;
        height: 60%;
    }

    .formacion__texto-contenedor {
        height: 40%;
    }


}

/* Pantallas grandes */
@media (min-width: 1024px) {

    .cabecera__titulo {
        font-size: 1rem;
    }

    .navegacion__lista li:nth-child(-n+5) {
        display: block;
    }

    .navegacion__lista li:nth-child(6) {
        font-weight: bold;
    }

    .navegacion__lista {
        display: flex;
        gap: 32px;
    }

    .redes {
        gap: 32px;
    }

    .redes li {
        flex-grow: 0;
    }

    .presentacion {
        gap: 17px;
    }

    .presentacion__titulo {
        font-size: 3.25rem;
    }

    .presentacion__subtitulo {
        font-size: 1.375rem;
    }

    .sobre-mi__titulo,
    .habilidades__titulo,
    .aficiones__titulo,
    .formacion__titulo,
    .proyectos__titulo,
    .contacto__titulo {
        font-size: 2rem;
    }

    .sobre-mi__texto,
    .aficiones__texto {
        font-size: 1rem;
    }

    .sobre-mi {
        padding-top: 64px;
        padding-bottom: 64px;
    }



}

@media (min-width: 1200px) {

    .cabecera,
    .sobre-mi,
    .presentacion,
    .habilidades,
    .aficiones,
    .formacion,
    .proyectos,
    .contacto {
        padding-right: 152px;
        padding-left: 152px;
    }

    .sobre-mi__contenedor {
        width: 70%;
    }

    .contenedor-habilidades-aficiones {
        display: flex;
        flex-direction: column;
        gap: 88px;
        padding: 32px 32px 88px 32px;
    }

    .habilidades,
    .aficiones {
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .habilidades__titulo,
    .aficiones__titulo {
        margin: 0;
    }

    .formacion {
        padding-top: 82px;
        padding-bottom: 82px;
    }

    .formacion__lista {
        flex-wrap: wrap;
    }

    .formacion__elemento {
        width: 368px;
        height: 347px;
    }

    .formacion__icono-contenedor {
        width: 100%;
        height: 286px;
    }

    .proyectos__contenedor:nth-child(2),
    .proyectos__contenedor:nth-child(4) {
        flex-direction: row-reverse;

    }

    .proyectos__contenedor-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .proyectos__contenedor {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .contacto {
        display: flex;
        flex-direction: row;
        gap: 16px;
        padding-top: 130px;
        padding-bottom: 65px;
    }

    .contacto__imagen {
        border-radius: 20px;
        display: block;
        border: 5px solid var(--color-primario);
    }

    .contacto__contenedor-formulario {
        width: 100%;
    }

}